*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.header{
    background-color: #393f4d;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar {
    background-color: #C50208;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

.nav {
   background-color: #C50208;
}

.article {
    background-color: #bccbde;
}

.footer {
    background-color: #393f4d;
    grid-column-start: 1;
    grid-column-end: 3;
}