*{
    background-color: whitesmoke;
    margin: 0;
}

div{
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.odd-num{
    background-color: #FFC0CB;
    font-family: 'verdana', DejaVu sans, sans-serif;
}
#even-1{
    color: #00f;
    font-size: 36px;
}
.add-font{
    font-size: 24px;
}
#even-2{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}

.first-btn,.sec-btn{
    font-size: 28px;
    font-family: "Helvetica", Times New Roman, sans-serif;
    margin-top: 25px;
    margin-left: 35px;
.first-btn{
    background-color: rgb(25,25,25);
    color: white;
    font-weight: bold;
}
.sec-btn{
    background-color: hsl(60, 80%, 67%);
}