@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-size: 1rem;
}

body{
    margin: 1.5rem;
}

p{
    width: 75ch;
    margin-bottom: 0.8em;
}

div{
    margin-bottom: 0.8rem;
}

.px{
    border: 2px solid blueviolet;
    width: 550px;
    padding: 1em;

}
.vw{
    border: 2px solid rgb(43, 226, 104);
    width: 50vw;
    padding: 1em;

}
.rem{
    border: 2px solid rgb(226, 43, 58);
    width: 35rem;
    padding: 1em;

}
.em{
    border: 2px solid rgb(223, 226, 43);
    width: 35em;
    padding: 1em;

}