*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

h1{
    margin: 0.6rem;
}

table{
    margin-left: 0.6rem;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    border: 1px solid black;
    padding: 0.8rem 1.8rem;
}

th{
    background: #e7e7e7;
}

tr:nth-child(odd){
    background: #e7e7e7;
}

tr:nth-child(even){
    background-color: #f5f5f5;
}

